apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
  labels:
    app.kubernetes.io/name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: n8n
  template:
    metadata:
      labels:
        app.kubernetes.io/name: n8n
    spec:
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc
      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n:1.123.4
          envFrom:
            - configMapRef:
                name: n8n-config
            - secretRef:
                name: n8n-secrets
          ports:
            - containerPort: 5678
              name: http
          volumeMounts:
            - name: n8n-data
              mountPath: "/home/node/.n8n"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
