apiVersion: apps/v1
kind: Deployment
metadata:
  name: outline
  labels:
    app.kubernetes.io/name: outline
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: outline
  template:
    metadata:
      labels:
        app.kubernetes.io/name: outline
    spec:
      hostAliases:
        - ip: "100.113.193.5"
          hostnames:
            - "mail.prettysunflower.moe"
      volumes:
        - name: valkey-data
          persistentVolumeClaim:
            claimName: valkey-outline-pvc
      containers:
        - name: outline
          image: outlinewiki/outline:1.1.0
          ports:
            - containerPort: 3000
              name: http
          envFrom:
            - configMapRef:
                name: outline-config
            - secretRef:
                name: outline-secret
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 1
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 1Gi
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
        - image: valkey/valkey:9.0.0-alpine
          name: valkey
          command: ["valkey-server"]
          ports:
            - containerPort: 6379
              protocol: TCP
              name: http
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: valkey-data
              mountPath: "/data"
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 128Mi
