apiVersion: apps/v1
kind: Deployment
metadata:
  name: actual
  labels:
    app.kubernetes.io/name: actual
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: actual
  template:
    metadata:
      labels:
        app.kubernetes.io/name: actual
    spec:
      enableServiceLinks: false
      volumes:
        - name: actual-data
          persistentVolumeClaim:
            claimName: actual-pvc
      containers:
        - name: actual
          image: actualbudget/actual-server:25.11.0
          ports:
            - containerPort: 5006
              name: http
          volumeMounts:
            - name: actual-data
              mountPath: "/data"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 90
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
