apiVersion: apps/v1
kind: Deployment
metadata:
  name: renovate-cache
  labels:
    app.kubernetes.io/name: renovate-cache
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: renovate-cache
  template:
    metadata:
      labels:
        app.kubernetes.io/name: renovate-cache
    spec:
      volumes:
        - name: renovate-cache
          persistentVolumeClaim:
            claimName: renovate-cache-pvc
      containers:
        - image: valkey/valkey:9.0.2-alpine
          name: valkey
          command: ["valkey-server"]
          ports:
            - containerPort: 6379
              protocol: TCP
              name: valkey
          volumeMounts:
            - name: renovate-cache
              mountPath: "/data"
          env:
            - name: VALKEY_EXTRA_FLAGS
              value: "--save 60 1"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 128Mi
