---
- name: Check if bash exists
  ansible.builtin.stat:
    path: "/usr/bin/bash"
  register: bash_exists

- name: Hook direnv
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts.env.HOME }}/.bashrc"
    line: 'eval "$(direnv hook bash)"'
    state: present
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    mode: "u=rw,go=r"
    create: true
  when: bash_exists.stat.exists
