---
clusterName: sekibanki
talosVersion: v1.12.1-tailscale-1.92.5
kubernetesVersion: v1.35.0
endpoint: https://10.0.0.32:6443
domain: sekibanki.prettysunflower.moe
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.217.0.0/16
clusterSvcNets:
  - 10.218.0.0/16
patches:
  - "@./tailscale.patch.yaml"
  - |-
    machine:
      network:
        kubespan:
          enabled: true
        nameservers:
          - 100.74.71.91
      features:
        hostDNS:
          forwardKubeDNSToHost: true
      kubelet:
        extraArgs:
          feature-gates: ImageVolume=true
          rotate-server-certificates: true
      registries:
        mirrors:
          docker.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          gcr.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          ghcr.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          registry.k8s.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
    cluster:
      apiServer:
        extraArgs:
          feature-gates: ImageVolume=true

nodes:
  - hostname: fulgora
    ipAddress: 10.0.0.32
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: public.registry.container.sunflower.lgbt/prettysunflower/talos
  - hostname: gleba
    ipAddress: 10.0.0.30
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: public.registry.container.sunflower.lgbt/prettysunflower/talos
  - hostname: vulcanus
    ipAddress: 10.0.0.33
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: public.registry.container.sunflower.lgbt/prettysunflower/talos
