---
clusterName: yuiman
talosVersion: v1.11.5-tailscale-1.90.9
kubernetesVersion: v1.34.1
endpoint: https://10.0.12.10:6443
domain: yuiman.prettysunflower.moe
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.219.0.0/16
clusterSvcNets:
  - 10.220.0.0/16
patches:
  - "@./tailscale.patch.yaml"
  - |-
    machine:
      network:
        kubespan:
          enabled: true
        nameservers:
          - 100.74.71.91
      features:
        hostDNS:
          forwardKubeDNSToHost: true
      kubelet:
        extraArgs:
          rotate-server-certificates: true
      registries:
        mirrors:
          docker.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          gcr.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          ghcr.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
          registry.k8s.io:
            endpoints:
              - https://mirror.container.sunflower.lgbt
    cluster:
      extraManifests:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
        - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

nodes:
  - hostname: fulgora
    ipAddress: 10.0.12.10
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: git.prettysunflower.moe/prettysunflower/talos
  - hostname: gleba
    ipAddress: 10.0.12.11
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: git.prettysunflower.moe/prettysunflower/talos
  - hostname: vulcanus
    ipAddress: 10.0.12.12
    controlPlane: true
    installDisk: /dev/sda
    talosImageURL: git.prettysunflower.moe/prettysunflower/talos
