apiVersion: apps/v1
kind: Deployment
metadata:
  name: etherpad
  labels:
    app.kubernetes.io/name: etherpad
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: etherpad
  template:
    metadata:
      labels:
        app.kubernetes.io/name: etherpad
    spec:
      containers:
        - name: etherpad
          image: etherpad/etherpad:2.5.3
          ports:
            - containerPort: 9001
              name: http
          envFrom:
            - configMapRef:
                name: etherpad-config
            - secretRef:
                name: etherpad-secrets
          resources:
            limits:
              cpu: 1
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 512Mi
          securityContext:
            runAsUser: 5001
            runAsGroup: 5001
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 90
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
      dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - 100.94.59.38
