---
- name: Get existing VMs
  ansible.builtin.command: >-
    pvesh get /nodes/{{ ansible_facts.hostname }}/qemu --output-format json
  register: proxmox_current_vms_json
  changed_when: false

- name: Create templates
  ansible.builtin.include_tasks: create_template.yaml
  vars:
    existing_vms: "{{ proxmox_current_vms_json.stdout | from_json }}"
  with_items: "{{ templates | default({}) | dict2items }}"
  loop_control:
    loop_var: template
