apiVersion: apps/v1
kind: Deployment
metadata:
  name: opengist
  labels:
    app.kubernetes.io/name: opengist
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: opengist
  template:
    metadata:
      labels:
        app.kubernetes.io/name: opengist
    spec:
      volumes:
        - name: opengist-data
          persistentVolumeClaim:
            claimName: opengist-data-pvc
      containers:
        - name: opengist
          image: ghcr.io/thomiceli/opengist:1.12
          command:
            - /app/opengist/opengist
            - --config
            - /config.yml
          env:
            - name: OG_OPENGIST_HOME
              value: /opengist
          ports:
            - containerPort: 6157
              name: http
          volumeMounts:
            - name: opengist-data
              mountPath: "/opengist"
          envFrom:
            - secretRef:
                name: opengist-secret
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /healthcheck
              port: http
            failureThreshold: 30
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 128Mi
