apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep
  labels:
    app.kubernetes.io/name: karakeep
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: karakeep
  template:
    metadata:
      labels:
        app.kubernetes.io/name: karakeep
    spec:
      volumes:
        - name: karakeep-data
          persistentVolumeClaim:
            claimName: karakeep-pvc
      containers:
        - name: karakeep
          image: ghcr.io/karakeep-app/karakeep:0.28.0
          envFrom:
            - configMapRef:
                name: karakeep-config
            - secretRef:
                name: karakeep-secrets
          ports:
            - containerPort: 3000
              name: http
          volumeMounts:
            - name: karakeep-data
              mountPath: "/data"
              subPath: "karakeep"
          resources:
            limits:
              cpu: 2
              memory: 2Gi
            requests:
              cpu: 1
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 90
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
        - name: chrome
          image: gcr.io/zenika-hub/alpine-chrome:124
          command:
            - chromium-browser
            - --headless
            - --no-sandbox
            - --disable-gpu
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
            - --hide-scrollbars
          resources:
            limits:
              cpu: 1
              memory: 512Mi
            requests:
              cpu: 500m
              memory: 128Mi
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep-meilisearch
  labels:
    app.kubernetes.io/name: karakeep-meilisearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: karakeep-meilisearch
  template:
    metadata:
      labels:
        app.kubernetes.io/name: karakeep-meilisearch
    spec:
      volumes:
        - name: karakeep-data
          persistentVolumeClaim:
            claimName: karakeep-pvc
      containers:
        - name: meilisearch
          image: getmeili/meilisearch:v1.26.0
          command: ["meilisearch", "--experimental-dumpless-upgrade"]
          envFrom:
            - configMapRef:
                name: karakeep-config
            - secretRef:
                name: karakeep-secrets
          volumeMounts:
            - name: karakeep-data
              mountPath: "/meili_data"
              subPath: "melisearch"
          resources:
            limits:
              cpu: 1
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 256Mi
