apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  namespace: gitea
  labels:
    app.kubernetes.io/name: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: gitea
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gitea
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: gitea-data-pvc
        - name: config
          persistentVolumeClaim:
            claimName: gitea-config-pvc
      containers:
        - image: docker.gitea.com/gitea:1.25.3-rootless
          name: gitea
          ports:
            - containerPort: 3000
              protocol: TCP
              name: http
            - containerPort: 2222
              protocol: TCP
              name: ssh
          volumeMounts:
            - name: data
              mountPath: /var/lib/gitea
            - name: config
              mountPath: /etc/gitea
          envFrom:
            - configMapRef:
                name: gitea-config
            - secretRef:
                name: gitea-secrets
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: http
            initialDelaySeconds: 200
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          resources:
            limits:
              cpu: 2
              memory: 2Gi
            requests:
              cpu: 1
              memory: 512Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  namespace: gitea
  labels:
    app.kubernetes.io/name: valkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: valkey
  template:
    metadata:
      labels:
        app.kubernetes.io/name: valkey
    spec:
      volumes:
        - name: valkey
          persistentVolumeClaim:
            claimName: valkey
      containers:
        - image: valkey/valkey:alpine
          name: valkey
          command: ["valkey-server"]
          ports:
            - containerPort: 6379
              protocol: TCP
              name: valkey
          env:
            - name: VALKEY_EXTRA_FLAGS
              value: "--save 60 1"
          volumeMounts:
            - name: valkey
              mountPath: "/data"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 64Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  namespace: anubis
  labels:
    app.kubernetes.io/name: anubis-gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: anubis-gitea
  template:
    metadata:
      labels:
        app.kubernetes.io/name: anubis-gitea
    spec:
      volumes:
        - name: config
          configMap:
            name: gitea-anubis-config
      containers:
        - name: anubis
          image: ghcr.io/techarohq/anubis:v1.24.0
          envFrom:
            - secretRef:
                name: thoth
            - secretRef:
                name: gitea
          volumeMounts:
            - name: config
              mountPath: /data/cfg/botPolicy.yaml
              subPath: anubis-config.yaml
          env:
            - name: BIND
              value: ":8923"
            - name: METRICS_BIND
              value: ":9090"
            - name: TARGET
              value: "http://gitea.gitea.svc.sekibanki.prettysunflower.moe"
            - name: WEBMASTER_EMAIL
              value: "me@prettysunflower.moe"
          ports:
            - containerPort: 8923
              protocol: TCP
              name: http
            - containerPort: 9090
              protocol: TCP
              name: metrics
          resources:
            limits:
              cpu: 750m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 64Mi
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          readinessProbe:
            httpGet:
              path: /healthz
              port: metrics
            initialDelaySeconds: 1
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: metrics
            initialDelaySeconds: 10
            periodSeconds: 20
