apiVersion: apps/v1
kind: Deployment
metadata:
  name: masto-fe
  labels:
    app.kubernetes.io/name: masto-fe
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: masto-fe
  template:
    metadata:
      labels:
        app.kubernetes.io/name: masto-fe
    spec:
      containers:
        - name: masto-fe
          image: git.prettysunflower.moe/prettysunflower/masto-fe-standalone:latest
          ports:
            - containerPort: 80
              name: http
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 90
          startupProbe:
            httpGet:
              path: /
              port: 80
            failureThreshold: 30
            periodSeconds: 10
