apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless
  labels:
    app.kubernetes.io/name: paperless
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: paperless
  template:
    metadata:
      labels:
        app.kubernetes.io/name: paperless
    spec:
      volumes:
        - name: paperless-data
          persistentVolumeClaim:
            claimName: paperless-pvc
        - name: run
          emptyDir:
            sizeLimit: 500Mi
            medium: Memory
      containers:
        - name: paperless
          image: ghcr.io/paperless-ngx/paperless-ngx:2.20.3
          envFrom:
            - configMapRef:
                name: paperless-configmap
            - secretRef:
                name: paperless-secrets
          env:
            - name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
              value: "1"
            - name: S6_READ_ONLY_ROOT
              value: "1"
          ports:
            - containerPort: 8000
              name: http
          volumeMounts:
            - name: paperless-data
              mountPath: "/usr/src/paperless/data"
              subPath: "data"
            - name: paperless-data
              mountPath: "/usr/src/paperless/media"
              subPath: "media"
            - name: paperless-data
              mountPath: "/usr/src/paperless/export"
              subPath: "export"
            - name: paperless-data
              mountPath: "/usr/src/paperless/consume"
              subPath: "consume"
            - name: run
              mountPath: /run
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 90
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
          resources:
            limits:
              cpu: 1
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 1024Mi
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
        - image: valkey/valkey:9.0.1-alpine
          name: valkey
          ports:
            - containerPort: 6379
              protocol: TCP
              name: valkey
          volumeMounts:
            - name: paperless-data
              mountPath: "/data"
              subPath: "valkey"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 128Mi
        - image: docker.io/gotenberg/gotenberg:8.25
          name: gotenberg
          command:
            [
              "gotenberg",
              "--chromium-disable-javascript=true",
              "--chromium-allow-list=file:///tmp/.*",
            ]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 1
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 128Mi
        - image: docker.io/apache/tika:latest
          name: tika
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 1
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 256Mi
