apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-config
  namespace: immich
data:
  REDIS_HOSTNAME: valkey.immich.svc.sekibanki.prettysunflower.moe
  IMMICH_PORT: "2283"
  IMMICH_MACHINE_LEARNING_URL: http://machine-learning.immich.svc.cluster.local:2283
  TRANSFORMERS_CACHE: /cache
  HF_XET_CACHE: /cache/huggingface-xet
  MPLCONFIGDIR: /cache/matplotlib-config
