apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich
  namespace: immich
  labels:
    app.kubernetes.io/name: immich
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: immich
  template:
    metadata:
      labels:
        app.kubernetes.io/name: immich
    spec:
      volumes:
        - name: immich-pictures
          persistentVolumeClaim:
            claimName: immich-media
      containers:
        - name: immich
          image: ghcr.io/immich-app/immich-server:v2.5.6
          envFrom:
            - configMapRef:
                name: immich-config
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: username
            - name: DB_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: dbname
            - name: DB_HOSTNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: host
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: password
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: port
          ports:
            - containerPort: 2283
              name: http
          volumeMounts:
            - name: immich-pictures
              mountPath: /usr/src/app/upload
          livenessProbe:
            httpGet:
              path: /api/server/ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/server/ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /api/server/ping
              port: http
            failureThreshold: 30
            periodSeconds: 2
            timeoutSeconds: 1
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    app.kubernetes.io/name: immich-machine-learning
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: immich-machine-learning
  template:
    metadata:
      labels:
        app.kubernetes.io/name: immich-machine-learning
    spec:
      volumes:
        - name: immich-models-cache
          persistentVolumeClaim:
            claimName: immich-models-cache
      containers:
        - name: immich
          image: ghcr.io/immich-app/immich-machine-learning:v2.5.6
          envFrom:
            - configMapRef:
                name: immich-config
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: username
            - name: DB_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: dbname
            - name: DB_HOSTNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: host
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: password
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: port
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /ping
              port: http
            failureThreshold: 30
            periodSeconds: 2
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 1
              memory: 2Gi
            requests:
              cpu: 50m
              memory: 512Mi
          ports:
            - containerPort: 2283
              name: http
          volumeMounts:
            - name: immich-models-cache
              mountPath: /cache
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  namespace: immich
  labels:
    app.kubernetes.io/name: valkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: valkey
  template:
    metadata:
      labels:
        app.kubernetes.io/name: valkey
    spec:
      volumes:
        - name: valkey
          emptyDir:
            sizeLimit: 256Mi
            medium: Memory
      containers:
        - image: valkey/valkey:alpine
          name: valkey
          command: ["valkey-server"]
          ports:
            - containerPort: 6379
              protocol: TCP
              name: valkey
          env:
            - name: VALKEY_EXTRA_FLAGS
              value: "--save 60 1"
          volumeMounts:
            - name: valkey
              mountPath: "/data"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 64Mi
