resources:
  - database.yaml
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
  - https://raw.githubusercontent.com/cloudnative-pg/artifacts/refs/heads/main/image-catalogs/catalog-standard-trixie.yaml
