apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotosocial
  namespace: gotosocial
  labels:
    app.kubernetes.io/name: gotosocial
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: gotosocial
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gotosocial
    spec:
      containers:
        - image: private.registry.container.sunflower.lgbt/prettysunflower/gotosocial:dev-amd64
          imagePullPolicy: Always
          name: gotosocial
          ports:
            - containerPort: 8080
              protocol: TCP
              name: http
          env:
            - name: GTS_DB_POSTGRES_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: uri
          envFrom:
            - configMapRef:
                name: gotosocial-config
            - secretRef:
                name: gotosocial-secrets
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /livez
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          startupProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 2
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          resources:
            limits:
              cpu: 750m
              memory: 1024Mi
            requests:
              cpu: 250m
              memory: 512Mi
