{{ if ne (.Env.listen | strings.ToLower) "tailscale" }}
photos.dacostafaro.com {
	reverse_proxy immich.immich-dacostafaro.svc.yuiman.prettysunflower.moe
	log
}

nextcloud.dacostafaro.com {
	log
	header {
		Permissions-Policy interest-cohort=()
		Strict-Transport-Security max-age=31536000;
	}

	reverse_proxy nextcloud.nextcloud-dacostafaro.svc.yuiman.prettysunflower.moe
}

dolibarr.dacostafaro.com {
	reverse_proxy dolibarr.dolibarr-dacostafaro.svc.yuiman.prettysunflower.moe
	log
}
{{ end -}}
