prettysunflower.moe, www.prettysunflower.moe {
	import bunny

	@fedi_path {
		path /.well-known/host-meta
		path /.well-known/nodeinfo
		path /.well-known/webfinger
	}
	handle @fedi_path {
		redir https://fedi.prettysunflower.moe{uri} permanent
	}

	handle /.within.website/* {
		reverse_proxy prettysunflower-website.anubis.svc.yuiman.prettysunflower.moe {
			header_up X-Real-Ip {remote_host}
		}
	}

	handle_path /static/* {
		reverse_proxy static.prettysunflower-website.svc.yuiman.prettysunflower.moe
	}

	handle {
		reverse_proxy prettysunflower-website.anubis.svc.yuiman.prettysunflower.moe {
			header_up X-Real-Ip {remote_host}
		}
	}
}

actual.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy actual.default.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

git.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy gitea.gitea.svc.sekibanki.prettysunflower.moe
	{{ else }}
		reverse_proxy gitea.anubis.svc.sekibanki.prettysunflower.moe {
			header_up X-Real-Ip {remote_host}
		}
	{{ end -}}
}

data.prettysunflower.moe {
	import bunny

	reverse_proxy teable.teable.svc.sekibanki.prettysunflower.moe
}

dns.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy 100.94.59.38:5380
	{{ else }}
		abort
	{{ end -}}
}

passwords.prettysunflower.moe {
	import bunny

	{{ if ne (.Env.listen | strings.ToLower) "tailscale" }}
		import mtls
	{{ end -}}


	reverse_proxy vaultwarden.default.svc.sekibanki.prettysunflower.moe
}

caldav.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy caldav.default.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

kanban.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy planka.default.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

gist.prettysunflower.moe {
	import bunny

	reverse_proxy opengist.default.svc.sekibanki.prettysunflower.moe
}

uptime.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy uptime-kuma.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

qr.prettysunflower.moe {
	import bunny

	reverse_proxy miniqr.default.svc.yuiman.prettysunflower.moe
}

files.prettysunflower.moe {
	import bunny

	reverse_proxy publicfiles.default.svc.sekibanki.prettysunflower.moe
}

invidious.prettysunflower.moe {
	import bunny

	reverse_proxy 100.105.17.105:4039
}

karakeep.prettysunflower.moe {
	import bunny

	reverse_proxy karakeep.default.svc.sekibanki.prettysunflower.moe
}

papers.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy paperless.default.svc.sekibanki.prettysunflower.moe
	{{ else }}
		handle /share/* {
			reverse_proxy paperless.default.svc.sekibanki.prettysunflower.moe
		}

		handle {
			abort
		}
	{{ end -}}
}

youtubethumbnails.prettysunflower.moe {
	import bunny

	reverse_proxy youtubethumbnails.default.svc.yuiman.prettysunflower.moe
}

fedi.prettysunflower.moe {
	import bunny

	handle /login {
		redir https://masto-fe.sunflower.lgbt
	}

	handle {
		reverse_proxy gotosocial.gotosocial.svc.yuiman.prettysunflower.moe
	}
}

wiki.prettysunflower.moe {
	import bunny

	reverse_proxy outline.default.svc.sekibanki.prettysunflower.moe {
		header_up Host "wiki.prettysunflower.moe"
	}
}

okina.prettysunflower.moe {
	respond "OK"
}

plex.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy 100.105.17.105:32400
	{{ else }}
		abort
	{{ end -}}
}

certs.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy 100.105.17.105:4050
	{{ else }}
		abort
	{{ end -}}
}

multiscrobbler.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy multiscrobbler.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

qui.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy qui.default.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

remilia.sonarr.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy remilia.sonarr.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

deneb.sonarr.prettysunflower.moe {
	import bunny

	{{ if ne (.Env.listen | strings.ToLower) "tailscale" }}
		import mtls
	{{ end -}}


	reverse_proxy deneb.sonarr.svc.sekibanki.prettysunflower.moe
}

remilia.radarr.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy remilia.radarr.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

prowlarr.prettysunflower.moe {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy prowlarr.prowlarr.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

