sunflower.lgbt, www.sunflower.lgbt, http://http.sunflower.lgbt {
	import bunny

	handle_path /static/* {
		reverse_proxy static.prettysunflower-website.svc.yuiman.prettysunflower.moe
	}

	handle {
		reverse_proxy prettysunflower-website.anubis.svc.yuiman.prettysunflower.moe {
			header_up X-Real-Ip {remote_host}
		}
	}
}

currency.sunflower.lgbt {
	import bunny
	reverse_proxy https://api.ratesexchange.eu {
		header_up -Host
		header_down +Access-Control-Allow-Origin "*"
	}
}

photos.sunflower.lgbt {
	import bunny

	reverse_proxy immich.immich.svc.sekibanki.prettysunflower.moe
}

git.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy gitea.gitea.svc.sekibanki.prettysunflower.moe
	{{ else }}
		reverse_proxy gitea.anubis.svc.sekibanki.prettysunflower.moe {
			header_up X-Real-Ip {remote_host}
		}
	{{ end -}}
}

pad.sunflower.lgbt {
	import bunny

	reverse_proxy etherpad.default.svc.sekibanki.prettysunflower.moe
}

data.sunflower.lgbt {
	import bunny

	reverse_proxy teable.teable.svc.sekibanki.prettysunflower.moe
}

mirror.container.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy container-mirror.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

private.registry.container.sunflower.lgbt {
	import bunny
	
	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy private-container-registry.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

public.registry.container.sunflower.lgbt {
	import bunny

	reverse_proxy public-container-registry.default.svc.yuiman.prettysunflower.moe
}
		

schedule.sunflower.lgbt {
	import bunny

	reverse_proxy rallly.default.svc.yuiman.prettysunflower.moe
}

admin.status.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy uptime-kuma.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

jackett.sunflower.lgbt {
	import bunny

	reverse_proxy jackett.default.svc.sekibanki.prettysunflower.moe
}

flaresolverr.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy flaresolverr.default.svc.yuiman.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}

dns.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy https://100.74.71.91 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	{{ else }}
		abort
	{{ end -}}
}

login.sunflower.lgbt {
	import bunny

	reverse_proxy pocketid.pocketid.svc.yuiman.prettysunflower.moe
}

privatebin.sunflower.lgbt {
	import bunny

	reverse_proxy privatebin.default.svc.yuiman.prettysunflower.moe
}

masto-fe.sunflower.lgbt {
	import bunny

	reverse_proxy masto-fe.default.svc.yuiman.prettysunflower.moe
}

testmtls.sunflower.lgbt {
	import bunny
	import mtls

	respond "Hello, world!"
}

mediamanager.sunflower.lgbt {
	import bunny

	{{ if eq (.Env.listen | strings.ToLower) "tailscale" }}
		reverse_proxy mediamanager.mediamanager.svc.sekibanki.prettysunflower.moe
	{{ else }}
		abort
	{{ end -}}
}
